<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BPages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09ECFD3B1BC31FEC00E87FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09ECFD541BC31FEC00E87FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09ECFD5F1BC31FEC00E87FBA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
